body {
    margin: 0;
}

div.table-container {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

div.table-container div.table-corner {
    font-size: 12px;
    text-align: center;
}

div.table-container div.table-columnHeads {
    max-width: calc(100vw - 120px);
    overflow: hidden;
    text-align: center;
}

div.table-container div.table-rowHeads {
    max-height: calc(100vh - 84px);
    overflow: hidden;
}

div.table-container div.table-rowHeads div {
    height: 16px;
}

div.table-container div.table-content {
    max-height: calc(100vh - 67px);
    max-width: calc(100vw - 103px);
    overflow: scroll;
}

div.table-container div.table-content td {
    text-align: right;
}

div.table-container div.table-content td div {
    height: 16px;
}

div.table-container table {
    border: 0 hidden;
    border-collapse: collapse;
}

div.table-container table.table-inner td {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

div.table-container table td {
    padding-right: 5px;
    vertical-align: top;
}

div.table-container tr.even-row {
    background-color: #eeeeee;
}

div.table-container tr.odd-row {
    background-color: #cccccc;
}
