:root {
    color-scheme: light dark;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    a {
        color: #28e;
    }

    body {
        background-color: #000;
        color: white;
    }

    nav {
        background-color: #000;
    }

    .abutton {
        background: #333;
        border-color: #666;
        color: #ccc;
    }
}

/* light mode */
@media (prefers-color-scheme: light) {
    a {
        color: #00e;
    }

    body {
        background-color: #fff;
        color: black;
    }

    nav {
        background-color: #fff;
    }

    .abutton {
        /* background: ButtonFace; */ /* often becomes black in mobile Firefox */
        background: #e8e8e8;
        border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
        /* color: ButtonText; */
        color: #2e3436;
    }
}

a {
    text-decoration: none;
}

a[href^="http://"] {
    color: maroon;
}

a[href^="https://"] {
    color: darkgreen;
}

a[href^="http"]:after {
    content: " ↗️";
}

a[href^="https://apps.microsoft.com/store/"]:after {
    content: " 🛍️️";
}

a[href^="https://f-droid.org/"]:after {
    content: " 🆓";
}

body {
    font-family: serif, noto color emoji;
    text-align: center;
}

img {
    padding-right: .5em;
}

ul {
    margin: 0;
}
